---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
    /* margin: 0; */
    font-family: serif;
}
div.pagecontents {
    margin: 20px auto 0px auto;
    max-width: 650px;
    line-height: 1.2;
    font-size: 16px;
    padding: 10px;
}
div.navbar {
    display: inline-block;
    padding: 10px;
    /* Thanks, oilshell.org, for inspiration. */
    background-color: #DEE;
}
div.post-date {
    display: inline-block;
    float: right;
    padding-left: 10px;
    padding-right: 20px;
}
h1, h2, h2 {
    line-height: 1.2;
}
aside {
/* margin-top: -20px;
    margin-bottom: -10px; */
    margin-left: 20px;
    font-style: italic;
}
code, pre {
    max-width: 650px;
}
pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    display: block;
    padding: 15px;
}
div.footnotes ol {
    padding-left: 0;
}
a.newlink:after {
    content: "(new!)";
    padding-left: 5px;
    color: red;
    font-style: italic;
    display: inline-block;
    text-decoration: none;
}
footer hr {
    margin-top: 40px;
}
/* Inline code */
p code, li code, aside code {
    color: green;
}
table {
  margin: 15px 0;
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

/* Thanks to
https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/
*/
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
