---
---

h2.post-title {
    text-align: center;
}
div.post-inline-date {
    text-align: center;
}
img.post-inline-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}
div.post-co-authors {
    padding-top: 10px;
}
