---
title: Blog
layout: page
blog_index: true
permalink: blog/
---

<ul>
    {% for post in site.posts %}
    {% if post.draft != true %}
    {% unless post.title contains "Compiling a Lisp" %}
    <li class="post-item">
	<a class="post-title" href="{{ post.url }}"><span>{{ post.title }}</span></a>
        <div class="post-date"><i>{{ post.date | date: '%B %-d, %Y' }}</i></div>
    </li>
    {% endunless %}
    {% endif %}
    {% endfor %}
</ul>

<h2>Compiling a Lisp, the series</h2>
{% include compiling_a_lisp.md %}

<h2>Writing a Lisp, the series</h2>
{% include writing_a_lisp.md %}
