/* The wrapping div that the body will be in. */
.container {    
    height: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;
}

$img-width: 400px;
$text-width: 400px;

/* .center is both vertically and horizontally centered. */
/* .column is a column of text that fills up as much vertical space as possible. */
.column, .center {
    flex: 0 0 auto;
    margin: auto;

    .project-item {
        display: flex;
        flex-direction: row;

        flex-wrap: wrap;
        max-width: $img-width + $text-width;

        .project-img {
            display: flex;
            flex-direction: column;

            width: $img-width;
            max-width: 100%;

            img {
                width: $img-width;
                max-width: 100%;
            }
        }

        .project-text {
            display: flex;
            flex-direction: column;

            width: $text-width;
            max-width: 100%;
        }
    }
}

$img-width-front: $img-width * 0.5;

.column, .center {
    .project-item.front-page {
        @extend .project-item;

        max-width: $img-width-front + $text-width;

        .project-img {
            width: $img-width-front;

            img {
                width: $img-width-front;
            }
        }
    }
}

/* Make sure .column doesn't start in the middle of the page. */
.column {
    height: 100%;
}

/* Make sure the content shows up full screen on mobile. */
@media only screen and (max-width: 800px) {
    .container, .center, .column {
        width: 100%;
    }
}
