<!DOCTYPE html>
<html lang="en">
  <head>
    {% include seo.md %}
    <link rel="stylesheet" href="/css/main.css" media="none"
                                          onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="main.css"></noscript>

    <link rel="stylesheet" href="/css/post.css" media="none"
                                          onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="post.css"></noscript>

    <link rel="stylesheet" href="/css/github.css" media="none"
                                          onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="github.css"></noscript>
   </head>
  <body>
    {% include navbar.md %}
    <h2 class="post-title">{{ page.title }}</h2>
    <div class="container">
      {{ content }}
    </div>
    {% include footer.md %}
  </body>
</html>
