<!DOCTYPE html>
<html lang="en">
  <head>
    {% include seo.md %}
    <style type="text/css">
        {% asset main %}
        {% asset post %}
        {% asset github %}
    </style>
   </head>
  <body>
    <div class="pagecontents">
        {% include navbar.md %}
        <h2 class="post-title">{{ page.title }}</h2>
        {% if page.index != true %}
            <div class="post-inline-date"><i>{{ page.date | date: '%B %-d, %Y' }}</i></div>
        {% endif %}
        <div class="container">
            {{ content }}
        </div>
        {% include footer.md %}
    </div>
  </body>
</html>
