<!DOCTYPE html>
<html lang="en">
  <head>
    {% include seo.md %}
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/post.css" />
    <link rel="stylesheet" type="text/css" href="/css/github.css" />
    <link rel="prefetch" href="{{ site.url }}/">
    <link rel="prefetch" href="{{ site.url }}/blog/lisp">
    <link rel="prefetch" href="{{ site.url }}/favorites">
   </head>
  <body>
    <div class="pagecontents">
        {% include navbar.md %}
        <h2 class="post-title">{{ page.title }}</h2>
        <div class="container">
            <i>Creator:</i> {{ page.creator }}
            {{ content }}
        </div>
        {% include footer.md %}
    </div>
  </body>
</html>
