name: Make sure gojekyll works

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v5
    - name: Install gojekyll
      run: go install github.com/osteele/gojekyll@4a2ed83a4fcff5d0db7438a5bf57b9c69481974a
    - name: Install sass
      run: npm install -g sass
    - name: Build site
      run: gojekyll build
