name: Make sure gojekyll works

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v5
    - name: Install gojekyll
      run: go install github.com/osteele/gojekyll@f9614d36ebe8ce623bbeefbfcf79547ff060fbb8
    - name: Build site
      run: gojekyll build
