name: Make sure gojekyll works

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v5
    - name: Install gojekyll
      run: go install github.com/osteele/gojekyll@61d9f8f4e04e92a226b40255f94e52bda4d249c7
    - name: Build site
      run: gojekyll build
