name: Make sure gojekyll works

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v5
    - name: Install gojekyll
      run: go install github.com/osteele/gojekyll@4d2a11bc7fe8817623006611ba694c5be4d88971
    - name: Build site
      run: gojekyll build
